.mainContainer {
  max-width: 1440px;
  margin: auto;
}

.gridContainer {
  display: grid;
  grid-template-columns: 1fr 5fr;
  gap: 20px;
}

.logo {
  padding: 56px 0 48px 0;
}

.display {
  font-size: 2.5rem;
  font-weight: 400;
}

.heading {
  padding: 40px 0 32px 0;
}

.contentContainer {
  display: grid;
  align-self: start;

  .topbarFilter {
    width: 100%;
    overflow: hidden;

    .filterHeading {
      display: none;
    }

    .filterButtonsWrapper {
      display: flex;
      gap: 10px;
      overflow: hidden;
      overflow-x: auto;
      white-space: nowrap;
      /* flex-wrap: wrap; */

      .filterButtons {
        display: flex;
        justify-content: space-between;
        border: 1px solid rgba(0, 0, 0, .1);
        border-radius: 6px;
        cursor: pointer;
        gap: 4px;
        width: 160px;

        .foodTitle {
          font-size: 14px;
          padding: 16px 0 0 12px;
        }
      }

      .filterImage {
        width: 80px;
        height: 80px;
      }
    }
  }
}


.cardContainer {
  /* display: grid;
  grid-template-columns: 1fr 1fr 1fr; */
  display: flex;
  flex-wrap: wrap;
  gap: 17px;

  .openRestaurant {
    background-color: green;
  }

  .closedRestaurant *:not(.detailsContainer, .closed) {
    opacity: 0.5;
  }

  .card {
    display: flex;
    padding: 16px;
    background-color: white;
    border: 1px solid rgba(0, 0, 0, .1);
    border-radius: 6px;
    position: relative;
    overflow: hidden;
    justify-content: space-between;
    flex-direction: column;
    width: 327px;
    height: 200px; /* REFACTOR */

    .detailsContainer {
      display: flex;
      gap: 8px;

      .open,
      .closed,
      .deliveryTime {
        padding: 10px;
        border: 1px solid rgba(0, 0, 0, .1);
        border-radius: 20px;
        justify-self: flex-start;
      }

      .open::before {
        content: '';
        display: inline-block;
        width: 8px;
        height: 8px;
        border-radius: 50%;
        background-color: #00703A;
        margin-right: 4px;
      }
      .closed::before {
        content: '';
        display: inline-block;
        width: 8px;
        height: 8px;
        border-radius: 50%;
        background-color: black;
        margin-right: 4px;
      }
    }

    .foodImage {
      position: absolute;
      right: -30px;
      top: -30px;
      width: 140px;
      height: 140px;
    }

    .nameButtonWrapper {
      display: flex;
      justify-content: space-between;
      align-items: center;

      .restaurantButton {
        display: flex;
        align-items: center;
        justify-content: center;
        background-color: #00703A;
        border-radius: 20px;
        width: 32px;
        height: 32px;
      }
    }
  }
}

.filterContainer {
  border: 1px solid rgba(0, 0, 0, .1);
  border-radius: 6px;
  background-color: white;
  padding: 1.5rem;
  width: 240px;

  .filterWrapper {
    margin-bottom: 32px;
  }

  .deliveryWrapper .filterButtons {
    font-size: 12px;
    font-family: "SF Pro", -apple-system, BlinkMacSystemFont, sans-serif;
  }

  .filterHeading {
    color: #999999;
    font-weight: bold;
    text-transform: uppercase;
    font-size: 0.75rem;
    margin-bottom: 16px;
  }

  .filterButtonsWrapper {
    display: flex;
    gap: 10px;
    flex-wrap: wrap;

    .filterButtons {
      padding: 8px 12px;
      border: 1px solid rgba(0, 0, 0, .1);
      border-radius: 6px;
      cursor: pointer;
    }

    .priceButtons {
      padding: 8px;
    }

    .filterImage {
      display: none;
    }
  }

  .foodCategoryWrapper {
    flex-direction: column;
    align-items: start;
  }
}

/* MOBILEVIEW */
@media (max-width: 375px) {
  /* FRONTPAGE */
  .frontpageContainer {
    display: flex;
    padding: 24px;
    height: 100vh;
    flex-direction: column;
    justify-content: space-between;
    background-color: #00703A;
    color: white;

    .frontpageLogo {
      width: 168px;
      padding-top: 40px;
    }

    .textWrapper {
      max-width: 70%;

      .frontpageHeading {
        font-size: 48px;
        font-weight: 800;
        padding-bottom: 16px;
        font-family: "SF Pro Display", -apple-system, BlinkMacSystemFont, sans-serif;
        line-height: 48px;
      }
    }

    .continueButton {
      border: 1px solid white;
      border-radius: 8px;
      padding: 20px 0;
      background-color: #00703A;
      color: white;
      font-weight: 700;
    }
  }

  .container {
    padding: 24px;
  }

  .gridContainer {
    grid-template-columns: auto;
    gap: 24px;
    /* padding: 0 24px; */
  }

  .logo {
    width: 168px;
    padding: 16px 0 24px 0;
  }

  .cardContainer {
    justify-content: center;
  }

  .filterContainer {
    width: auto;
    border: none;
    background-color: transparent;
    border-radius: 0;
    padding: 0;
  }

  .filterContainer {
    .filterWrapper {
      margin-bottom: 0;
    }

    .filterWrapper:not(.deliveryWrapper) {
      display: none;
    }

    .filterButtonsWrapper {
      gap: 0;
      flex-wrap: nowrap;
    }
  }

  .filterButtonsWrapper {
    overflow: hidden;
    overflow-x: auto;
    white-space: nowrap;
    justify-content: space-between;
  }

  .heading {
    font-size: 20px;
    padding: 24px 0 20px 0;
  }
}
